<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<% @entries.each do |ent| %>
	Feeling:
	<%= ent.feeling %></br>
	<p><%= ent.blurb %></p>
	<%= ent.created_at %>
	<br>
	<% end %>
<br><br>
	<%= link_to "New Blurb", new_entry_path %>